*{
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
#nav-you{
    height: 56px;
    width: 93px;
}
#nav-menu{
    padding: 8px;
}
#nav-search{
    width: 400px;
    border: 0.1px thin black;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 56px;
    margin-right: 0;
}
#nav-btn{
    width: 60px;
   border: 0.1px thin black;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   height: 56px;
   margin-left: 0;
   padding-left: 0;
}
.nav-mic{
    height: 40px;
    width: 40px;
    border: 1px thick white;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.5);
    display: block;
}
